*{
  text-decoration: none;
  color: #000000;
}

.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 1062.992px;
	height: 9602.623px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#n_1 {
	fill: rgba(238,248,108,1);
}
.n_1 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 8718.804px;
	left: -0.11px;
	top: 109.061px;
}
#Text {
	left: 328.607px;
	top: 489.612px;
	position: absolute;
	overflow: visible;
	width: 407px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -9px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#n_160 {
	position: absolute;
	width: 1062.992px;
	height: 774.758px;
	left: -0.11px;
	top: 8827.864px;
	overflow: visible;
}
#n_2 {
	fill: rgba(229,243,48,1);
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 774.758px;
	left: 0px;
	top: 0px;
}
#Text_l {
	left: 479.497px;
	top: 159.464px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_m {
	left: 477.497px;
	top: 239.847px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_n {
	left: 459.497px;
	top: 320.229px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_o {
	left: 434.497px;
	top: 400.612px;
	position: absolute;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_p {
	left: 477.497px;
	top: 480.996px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n_157 {
	position: absolute;
	width: 193.411px;
	height: 64.547px;
	left: 432.219px;
	top: 53.671px;
	overflow: visible;
}
#MENU {
	left: 25.278px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#n_5 {
	fill: rgba(0,0,0,1);
}
.n_5 {
	position: absolute;
	overflow: visible;
	width: 193.411px;
	height: 6.776px;
	left: 0px;
	top: 57.771px;
}
#n_158 {
	position: absolute;
	width: 963.95px;
	height: 63.005px;
	left: 49.521px;
	top: 584.858px;
	overflow: visible;
}
#n_3 {
	fill: rgba(255,255,255,1);
}
.n_3 {
	position: absolute;
	overflow: visible;
	width: 963.95px;
	height: 63.005px;
	left: 0px;
	top: 0px;
}
#n_1_v {
	fill: rgba(0,0,0,1);
}
.n_1_v {
	overflow: visible;
	position: absolute;
	width: 16.268px;
	height: 27.113px;
	left: 915.104px;
	top: 17.945px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_w {
	left: 365.975px;
	top: 16.316px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_4 {
	fill: rgba(255,255,255,1);
}
.n_4 {
	overflow: visible;
	position: absolute;
	width: 9.094px;
	height: 11.015px;
	left: 540.497px;
	top: 693.151px;
	transform: matrix(1,0,0,1,0,0);
}
#n_159 {
	position: absolute;
	width: 135.192px;
	height: 53.878px;
	left: 475.474px;
	top: 694.152px;
	overflow: visible;
}
#n_2_z {
	fill: rgba(255,255,255,1);
}
.n_2_z {
	overflow: visible;
	position: absolute;
	width: 94.664px;
	height: 34.004px;
	left: 40.528px;
	top: 0.14px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_ {
	fill: rgba(255,255,255,1);
}
.n_3_ {
	overflow: visible;
	position: absolute;
	width: 42.239px;
	height: 33.393px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_5_ {
	fill: rgba(255,255,255,1);
}
.n_5_ {
	overflow: visible;
	position: absolute;
	width: 130.813px;
	height: 12.645px;
	left: 0.651px;
	top: 41.233px;
	transform: matrix(1,0,0,1,0,0);
}
#n_37 {
	position: absolute;
	width: 454.009px;
	height: 271.353px;
	left: 304.603px;
	top: 167.465px;
	overflow: visible;
}
#n__ {
	left: 12px;
	top: 109.353px;
	position: absolute;
	overflow: visible;
	width: 431px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n_35 {
	position: absolute;
	width: 454.009px;
	height: 73.097px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_ {
	left: 74.455px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	line-height: 87.5px;
	margin-top: -18.75px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(19,10,10,1);
}
#n_6 {
	fill: rgba(0,0,0,1);
}
.n_6 {
	position: absolute;
	overflow: visible;
	width: 454.009px;
	height: 5.929px;
	left: 0px;
	top: 67.167px;
}
#n_164 {
	position: absolute;
	width: 957.069px;
	height: 280.177px;
	left: 62.248px;
	top: 572.278px;
	overflow: visible;
}
#n_88 {
	position: absolute;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_7 {
	fill: rgba(255,255,255,1);
}
.n_7 {
	position: absolute;
	overflow: visible;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_6_ba {
	fill: rgba(0,0,0,1);
}
.n_6_ba {
	overflow: visible;
	position: absolute;
	width: 27.113px;
	height: 16.268px;
	left: 39.302px;
	top: 19.194px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bb {
	left: 105.271px;
	top: 12.729px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_89 {
	position: absolute;
	width: 469.634px;
	height: 54.656px;
	left: 487.436px;
	top: 0px;
	overflow: visible;
}
#n_8 {
	fill: rgba(255,255,255,1);
}
.n_8 {
	position: absolute;
	overflow: visible;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_7_be {
	fill: rgba(0,0,0,1);
}
.n_7_be {
	overflow: visible;
	position: absolute;
	width: 27.113px;
	height: 16.268px;
	left: 39.302px;
	top: 19.194px;
	transform: matrix(1,0,0,1,0,0);
}
#P0203_ {
	left: 102.661px;
	top: 12.729px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_91 {
	position: absolute;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 75.174px;
	overflow: visible;
}
#n_9 {
	fill: rgba(255,255,255,1);
}
.n_9 {
	position: absolute;
	overflow: visible;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_8_bi {
	fill: rgba(0,0,0,1);
}
.n_8_bi {
	overflow: visible;
	position: absolute;
	width: 27.113px;
	height: 16.268px;
	left: 39.302px;
	top: 19.194px;
	transform: matrix(1,0,0,1,0,0);
}
#P0405_ {
	left: 102.661px;
	top: 12.728px;
	position: absolute;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_90 {
	position: absolute;
	width: 469.634px;
	height: 54.656px;
	left: 487.436px;
	top: 75.174px;
	overflow: visible;
}
#n_10 {
	fill: rgba(255,255,255,1);
}
.n_10 {
	position: absolute;
	overflow: visible;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_9_bm {
	fill: rgba(0,0,0,1);
}
.n_9_bm {
	overflow: visible;
	position: absolute;
	width: 27.113px;
	height: 16.268px;
	left: 39.302px;
	top: 19.194px;
	transform: matrix(1,0,0,1,0,0);
}
#P0607_ {
	left: 102.661px;
	top: 12.728px;
	position: absolute;
	overflow: visible;
	width: 323px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_92 {
	position: absolute;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 150.347px;
	overflow: visible;
}
#n_11 {
	fill: rgba(255,255,255,1);
}
.n_11 {
	position: absolute;
	overflow: visible;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_10_bq {
	fill: rgba(0,0,0,1);
}
.n_10_bq {
	overflow: visible;
	position: absolute;
	width: 27.113px;
	height: 16.268px;
	left: 39.302px;
	top: 19.194px;
	transform: matrix(1,0,0,1,0,0);
}
#P0809_VR {
	left: 102.661px;
	top: 12.729px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_93 {
	position: absolute;
	width: 469.634px;
	height: 54.656px;
	left: 487.436px;
	top: 150.347px;
	overflow: visible;
}
#n_12 {
	fill: rgba(255,255,255,1);
}
.n_12 {
	position: absolute;
	overflow: visible;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_11_bu {
	fill: rgba(0,0,0,1);
}
.n_11_bu {
	overflow: visible;
	position: absolute;
	width: 27.113px;
	height: 16.268px;
	left: 39.302px;
	top: 19.194px;
	transform: matrix(1,0,0,1,0,0);
}
#P1011_ {
	left: 102.661px;
	top: 12.728px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_94 {
	position: absolute;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 225.521px;
	overflow: visible;
}
#n_13 {
	fill: rgba(255,255,255,1);
}
.n_13 {
	position: absolute;
	overflow: visible;
	width: 469.634px;
	height: 54.656px;
	left: 0px;
	top: 0px;
}
#n_12_by {
	fill: rgba(0,0,0,1);
}
.n_12_by {
	overflow: visible;
	position: absolute;
	width: 27.113px;
	height: 16.268px;
	left: 39.302px;
	top: 19.194px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_bz {
	left: 105.271px;
	top: 12.728px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	line-height: 52.5px;
	margin-top: -11.25px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_102 {
	position: absolute;
	width: 577.492px;
	height: 95.652px;
	left: -0.11px;
	top: 2319.696px;
	overflow: visible;
}
#Text_b {
	left: 61.193px;
	top: 30.787px;
	position: absolute;
	overflow: visible;
	width: 481px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#P02__03 {
	left: 59.104px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -9px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#n_15 {
	fill: rgba(0,0,0,1);
}
.n_15 {
	position: absolute;
	overflow: visible;
	width: 577.492px;
	height: 5.929px;
	left: 0px;
	top: 89.722px;
}
#n_95 {
	position: absolute;
	width: 577.492px;
	height: 95.353px;
	left: -0.11px;
	top: 949.347px;
	overflow: visible;
}
#All {
	left: 59.104px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -9px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Text_ca {
	left: 61.193px;
	top: 30.488px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#n_16 {
	fill: rgba(0,0,0,1);
}
.n_16 {
	position: absolute;
	overflow: visible;
	width: 577.492px;
	height: 5.929px;
	left: 0px;
	top: 89.423px;
}
#n_105 {
	position: absolute;
	width: 943.057px;
	height: 382.919px;
	left: 60.038px;
	top: 2453.588px;
	overflow: visible;
}
#n_14 {
	fill: rgba(255,255,255,1);
}
.n_14 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 382.919px;
	left: 0px;
	top: 0px;
}
#n_103 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 47.706px;
	overflow: visible;
}
#n_17 {
	fill: rgba(0,0,0,1);
}
.n_17 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n_ {
	left: 30.627px;
	top: 14.726px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_104 {
	position: absolute;
	width: 635.239px;
	height: 313.526px;
	left: 182.699px;
	top: 52.719px;
	overflow: visible;
}
#n_AR {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 335px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#P02No3QR_ {
	left: 0px;
	top: 139.75px;
	position: absolute;
	overflow: visible;
	width: 636.239px;
	height: 173.7761688232422px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_101 {
	position: absolute;
	width: 943.057px;
	height: 382.919px;
	left: 60.038px;
	top: 1811.995px;
	overflow: visible;
}
#n_20 {
	fill: rgba(255,255,255,1);
}
.n_20 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 382.919px;
	left: 0px;
	top: 0px;
}
#n_99 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 47.706px;
	overflow: visible;
}
#n_21 {
	fill: rgba(0,0,0,1);
}
.n_21 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__ck {
	left: 30.627px;
	top: 14.726px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_100 {
	position: absolute;
	width: 607.514px;
	height: 313.525px;
	left: 182.699px;
	top: 52.72px;
	overflow: visible;
}
#n__cm {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 469px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#QR_ {
	left: 0px;
	top: 139.749px;
	position: absolute;
	overflow: visible;
	width: 608.514px;
	height: 173.7761688232422px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_33 {
	position: absolute;
	width: 1062.992px;
	height: 113.386px;
	left: 0.111px;
	top: 0px;
	overflow: visible;
}
#n_22 {
	fill: rgba(229,243,48,1);
}
.n_22 {
	position: absolute;
	overflow: visible;
	width: 1062.992px;
	height: 113.386px;
	left: 0px;
	top: 0px;
}
#Meidem-XR {
	left: 49.101px;
	top: 28.24px;
	position: absolute;
	overflow: visible;
	width: 283px;
	white-space: nowrap;
	line-height: 87.5px;
	margin-top: -18.75px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(19,10,10,1);
}
#n_152 {
	position: absolute;
	width: 943.057px;
	height: 327.822px;
	left: 59.968px;
	top: 8001.733px;
	overflow: visible;
}
#n_23 {
	fill: rgba(255,255,255,1);
}
.n_23 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 327.822px;
	left: 0px;
	top: 0px;
}
#n_151 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 47.706px;
	overflow: visible;
}
#n_24 {
	fill: rgba(0,0,0,1);
}
.n_24 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__cv {
	left: 30.627px;
	top: 14.728px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_150 {
	position: absolute;
	width: 575px;
	height: 233.056px;
	left: 182.699px;
	top: 52.719px;
	overflow: visible;
}
#n__cx {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 576px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n__cy {
	left: 0.071px;
	top: 139.751px;
	position: absolute;
	overflow: hidden;
	width: 490.599px;
	height: 93.3045425415039px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_13_cz {
	fill: rgba(255,255,255,1);
}
.n_13_cz {
	overflow: visible;
	position: absolute;
	width: 45.862px;
	height: 79.744px;
	left: 877.976px;
	top: 2606.305px;
	transform: matrix(1,0,0,1,0,0);
}
#n_108 {
	position: absolute;
	width: 943.057px;
	height: 382.919px;
	left: 60.038px;
	top: 2879.037px;
	overflow: visible;
}
#n_25 {
	fill: rgba(255,255,255,1);
}
.n_25 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 382.919px;
	left: 0px;
	top: 0px;
}
#n_107 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 47.706px;
	overflow: visible;
}
#n_26 {
	fill: rgba(0,0,0,1);
}
.n_26 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__c {
	left: 30.627px;
	top: 14.726px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_106 {
	position: absolute;
	width: 597.615px;
	height: 313.526px;
	left: 182.699px;
	top: 52.719px;
	overflow: visible;
}
#PO3___ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 540px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#QR__c {
	left: 0px;
	top: 139.75px;
	position: absolute;
	overflow: visible;
	width: 598.615px;
	height: 173.7761688232422px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_117 {
	position: absolute;
	width: 435.186px;
	height: 95.652px;
	left: -0.11px;
	top: 3811.478px;
	overflow: visible;
}
#Text_c {
	left: 61.193px;
	top: 30.787px;
	position: absolute;
	overflow: visible;
	width: 259px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#P0405 {
	left: 59.104px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -9px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#n_28 {
	fill: rgba(0,0,0,1);
}
.n_28 {
	position: absolute;
	overflow: visible;
	width: 435.186px;
	height: 5.929px;
	left: 0px;
	top: 89.722px;
}
#n_120 {
	position: absolute;
	width: 943.057px;
	height: 439.52px;
	left: 60.038px;
	top: 3945.37px;
	overflow: visible;
}
#n_27 {
	fill: rgba(255,255,255,1);
}
.n_27 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 439.52px;
	left: 0px;
	top: 0px;
}
#n_119 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 47.706px;
	overflow: visible;
}
#n_29 {
	fill: rgba(0,0,0,1);
}
.n_29 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__dg {
	left: 30.627px;
	top: 14.727px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_118 {
	position: absolute;
	width: 598.978px;
	height: 373.156px;
	left: 182.699px;
	top: 52.719px;
	overflow: visible;
}
#n__QR_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 574px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n__dj {
	left: 1.433px;
	top: 199.38px;
	position: absolute;
	overflow: visible;
	width: 598.544px;
	height: 173.7761688232422px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_131 {
	position: absolute;
	width: 435.186px;
	height: 95.652px;
	left: -0.11px;
	top: 5906.893px;
	overflow: visible;
}
#VR {
	left: 61.193px;
	top: 30.787px;
	position: absolute;
	overflow: visible;
	width: 304px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#P0809_Topic2 {
	left: 59.104px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -9px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#n_30 {
	fill: rgba(0,0,0,1);
}
.n_30 {
	position: absolute;
	overflow: visible;
	width: 435.186px;
	height: 5.929px;
	left: 0px;
	top: 89.723px;
}
#n_134 {
	position: absolute;
	width: 943.057px;
	height: 382.918px;
	left: 60.038px;
	top: 6046.591px;
	overflow: visible;
}
#n_4_dp {
	fill: rgba(255,255,255,1);
}
.n_4_dp {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 382.918px;
	left: 0px;
	top: 0px;
}
#n_133 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 41.899px;
	overflow: visible;
}
#n_31 {
	fill: rgba(0,0,0,1);
}
.n_31 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__ds {
	left: 30.627px;
	top: 14.727px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_132 {
	position: absolute;
	width: 599.542px;
	height: 307.651px;
	left: 182.699px;
	top: 46.912px;
	overflow: visible;
}
#n_DCG_VR {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 540px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n__dv {
	left: 1.998px;
	top: 133.875px;
	position: absolute;
	overflow: visible;
	width: 598.544px;
	height: 173.7761688232422px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_145 {
	position: absolute;
	width: 486.339px;
	height: 95.652px;
	left: -0.11px;
	top: 7407.091px;
	overflow: visible;
}
#Text_dx {
	left: 61.193px;
	top: 30.787px;
	position: absolute;
	overflow: visible;
	width: 372px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#P0809_Topic3 {
	left: 59.104px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -9px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#n_32 {
	fill: rgba(0,0,0,1);
}
.n_32 {
	position: absolute;
	overflow: visible;
	width: 486.339px;
	height: 5.929px;
	left: 0px;
	top: 89.723px;
}
#n_149 {
	position: absolute;
	width: 486.339px;
	height: 64.865px;
	left: -0.11px;
	top: 7894.354px;
	overflow: visible;
}
#Text_d {
	left: 61.193px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#n_33_d {
	fill: rgba(0,0,0,1);
}
.n_33_d {
	position: absolute;
	overflow: visible;
	width: 486.339px;
	height: 5.929px;
	left: 0px;
	top: 58.936px;
}
#n_115 {
	position: absolute;
	width: 943.057px;
	height: 163.134px;
	left: 60.038px;
	top: 3510.149px;
	overflow: visible;
}
#n_34 {
	fill: rgba(255,255,255,1);
}
.n_34 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 163.133px;
	left: 0px;
	top: 0px;
}
#n_112 {
	position: absolute;
	width: 213.99px;
	height: 163.134px;
	left: 728.543px;
	top: 0px;
	overflow: visible;
}
#n_14_d {
	fill: rgba(229,243,48,1);
}
.n_14_d {
	overflow: visible;
	position: absolute;
	width: 213.99px;
	height: 163.134px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_15_d {
	fill: rgba(255,255,255,1);
}
.n_15_d {
	overflow: visible;
	position: absolute;
	width: 45.862px;
	height: 79.743px;
	left: 89.395px;
	top: 41.696px;
	transform: matrix(1,0,0,1,0,0);
}
#n_113 {
	position: absolute;
	width: 492.443px;
	height: 101.015px;
	left: 182.699px;
	top: 44.252px;
	overflow: visible;
}
#Text_ea {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Web {
	left: 2.844px;
	top: 52.015px;
	position: absolute;
	overflow: visible;
	width: 490.599px;
	height: 49.00042724609375px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_114 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 30.94px;
	overflow: visible;
}
#n_35_ec {
	fill: rgba(229,243,48,1);
}
.n_35_ec {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n_16_ed {
	fill: rgba(255,255,255,1);
}
.n_16_ed {
	overflow: visible;
	position: absolute;
	width: 60.424px;
	height: 60.423px;
	left: 20.345px;
	top: 21.046px;
	transform: matrix(1,0,0,1,0,0);
}
#n_144 {
	position: absolute;
	width: 943.057px;
	height: 163.133px;
	left: 59.857px;
	top: 7114.135px;
	overflow: visible;
}
#n_36 {
	fill: rgba(255,255,255,1);
}
.n_36 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 163.133px;
	left: 0px;
	top: 0px;
}
#n_143 {
	position: absolute;
	width: 213.99px;
	height: 163.133px;
	left: 728.543px;
	top: 0px;
	overflow: visible;
}
#n_17_eh {
	fill: rgba(229,243,48,1);
}
.n_17_eh {
	overflow: visible;
	position: absolute;
	width: 213.99px;
	height: 163.133px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_18 {
	fill: rgba(255,255,255,1);
}
.n_18 {
	overflow: visible;
	position: absolute;
	width: 45.862px;
	height: 79.743px;
	left: 89.395px;
	top: 41.695px;
	transform: matrix(1,0,0,1,0,0);
}
#n_141 {
	position: absolute;
	width: 492.443px;
	height: 101.015px;
	left: 182.699px;
	top: 44.252px;
	overflow: visible;
}
#MAP {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 297px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_el {
	left: 2.844px;
	top: 52.015px;
	position: absolute;
	overflow: visible;
	width: 490.599px;
	height: 49.00042724609375px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_142 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 30.939px;
	overflow: visible;
}
#n_37_en {
	fill: rgba(229,243,48,1);
}
.n_37_en {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n_19 {
	fill: rgba(255,255,255,1);
}
.n_19 {
	overflow: visible;
	position: absolute;
	width: 60.424px;
	height: 60.423px;
	left: 20.345px;
	top: 21.046px;
	transform: matrix(1,0,0,1,0,0);
}
#n_156 {
	position: absolute;
	width: 943.057px;
	height: 163.133px;
	left: 59.857px;
	top: 8372.07px;
	overflow: visible;
}
#n_38 {
	fill: rgba(255,255,255,1);
}
.n_38 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 163.133px;
	left: 0px;
	top: 0px;
}
#n_155 {
	position: absolute;
	width: 213.99px;
	height: 163.133px;
	left: 728.543px;
	top: 0px;
	overflow: visible;
}
#n_20_es {
	fill: rgba(229,243,48,1);
}
.n_20_es {
	overflow: visible;
	position: absolute;
	width: 213.99px;
	height: 163.133px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_21_et {
	fill: rgba(255,255,255,1);
}
.n_21_et {
	overflow: visible;
	position: absolute;
	width: 45.862px;
	height: 79.743px;
	left: 89.395px;
	top: 41.694px;
	transform: matrix(1,0,0,1,0,0);
}
#n_153 {
	position: absolute;
	width: 492.443px;
	height: 101.015px;
	left: 182.699px;
	top: 44.252px;
	overflow: visible;
}
#Text_ev {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 360px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Google {
	left: 2.844px;
	top: 52.015px;
	position: absolute;
	overflow: visible;
	width: 490.599px;
	height: 49.00042724609375px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_154 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 30.939px;
	overflow: visible;
}
#n_39 {
	fill: rgba(229,243,48,1);
}
.n_39 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n_22_ez {
	fill: rgba(255,255,255,1);
}
.n_22_ez {
	overflow: visible;
	position: absolute;
	width: 60.424px;
	height: 60.423px;
	left: 20.345px;
	top: 21.046px;
	transform: matrix(1,0,0,1,0,0);
}
#n_116 {
	position: absolute;
	width: 943.057px;
	height: 163.133px;
	left: 60.038px;
	top: 3304.486px;
	overflow: visible;
}
#n_41 {
	fill: rgba(255,255,255,1);
}
.n_41 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 163.133px;
	left: 0px;
	top: 0px;
}
#n_111 {
	position: absolute;
	width: 213.99px;
	height: 163.133px;
	left: 728.543px;
	top: 0px;
	overflow: visible;
}
#n_23_e {
	fill: rgba(140,104,176,1);
}
.n_23_e {
	overflow: visible;
	position: absolute;
	width: 213.99px;
	height: 163.133px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_24_e {
	fill: rgba(255,255,255,1);
}
.n_24_e {
	overflow: visible;
	position: absolute;
	width: 45.862px;
	height: 79.744px;
	left: 89.395px;
	top: 41.695px;
	transform: matrix(1,0,0,1,0,0);
}
#n_109 {
	position: absolute;
	width: 492.443px;
	height: 101.015px;
	left: 182.699px;
	top: 44.252px;
	overflow: visible;
}
#Text_e {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 286px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_fa {
	left: 2.844px;
	top: 52.015px;
	position: absolute;
	overflow: visible;
	width: 490.599px;
	height: 49.00042724609375px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_110 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 30.939px;
	overflow: visible;
}
#n_42 {
	fill: rgba(140,104,176,1);
}
.n_42 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n_25_fa {
	fill: rgba(255,255,255,1);
}
.n_25_fa {
	overflow: visible;
	position: absolute;
	width: 57.683px;
	height: 48.527px;
	left: 21.786px;
	top: 26.342px;
	transform: matrix(1,0,0,1,0,0);
}
#n_43 {
	fill: rgba(255,255,255,1);
}
.n_43 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 443.09px;
	left: 60.038px;
	top: 4688.637px;
}
#n_121 {
	position: absolute;
	width: 469.398px;
	height: 95.651px;
	left: -0.11px;
	top: 4554.745px;
	overflow: visible;
}
#Text_fd {
	left: 61.193px;
	top: 30.787px;
	position: absolute;
	overflow: visible;
	width: 385px;
	white-space: nowrap;
	line-height: 84px;
	margin-top: -18px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#P06__07_Topic1 {
	left: 59.104px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 186px;
	white-space: nowrap;
	line-height: 42px;
	margin-top: -9px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#n_44 {
	fill: rgba(0,0,0,1);
}
.n_44 {
	position: absolute;
	overflow: visible;
	width: 469.398px;
	height: 5.929px;
	left: 0px;
	top: 89.722px;
}
#n_123 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 97.725px;
	top: 4736.342px;
	overflow: visible;
}
#n_45 {
	fill: rgba(0,0,0,1);
}
.n_45 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__fi {
	left: 30.627px;
	top: 14.726px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_122 {
	position: absolute;
	width: 635.239px;
	height: 393.597px;
	left: 242.737px;
	top: 4741.356px;
	overflow: visible;
}
#AR_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 548px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#QR_QR____ {
	left: 0px;
	top: 139.75px;
	position: absolute;
	overflow: visible;
	width: 636.239px;
	height: 253.8472442626953px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_26_fm {
	fill: rgba(255,255,255,1);
}
.n_26_fm {
	overflow: visible;
	position: absolute;
	width: 45.862px;
	height: 79.744px;
	left: 877.976px;
	top: 4841.354px;
	transform: matrix(1,0,0,1,0,0);
}
#n_130 {
	position: absolute;
	width: 943.057px;
	height: 382.918px;
	left: 60.038px;
	top: 5371.34px;
	overflow: visible;
}
#n_46 {
	fill: rgba(255,255,255,1);
}
.n_46 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 382.918px;
	left: 0px;
	top: 0px;
}
#n_129 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 47.706px;
	overflow: visible;
}
#n_47 {
	fill: rgba(0,0,0,1);
}
.n_47 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__fr {
	left: 30.627px;
	top: 14.726px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_128 {
	position: absolute;
	width: 597.615px;
	height: 313.526px;
	left: 182.699px;
	top: 52.719px;
	overflow: visible;
}
#n__ft {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 429px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n__fu {
	left: 0px;
	top: 139.75px;
	position: absolute;
	overflow: visible;
	width: 598.615px;
	height: 173.7761688232422px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_127 {
	position: absolute;
	width: 943.057px;
	height: 163.133px;
	left: 60.038px;
	top: 5169.967px;
	overflow: visible;
}
#n_48 {
	fill: rgba(255,255,255,1);
}
.n_48 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 163.133px;
	left: 0px;
	top: 0px;
}
#n_125 {
	position: absolute;
	width: 213.99px;
	height: 163.133px;
	left: 728.543px;
	top: 0px;
	overflow: visible;
}
#n_27_fy {
	fill: rgba(140,104,176,1);
}
.n_27_fy {
	overflow: visible;
	position: absolute;
	width: 213.99px;
	height: 163.133px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_28_fz {
	fill: rgba(255,255,255,1);
}
.n_28_fz {
	overflow: visible;
	position: absolute;
	width: 45.862px;
	height: 79.743px;
	left: 89.395px;
	top: 41.695px;
	transform: matrix(1,0,0,1,0,0);
}
#n_124 {
	position: absolute;
	width: 492.443px;
	height: 101.016px;
	left: 182.699px;
	top: 44.252px;
	overflow: visible;
}
#Text_f {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 286px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_ga {
	left: 2.844px;
	top: 52.015px;
	position: absolute;
	overflow: visible;
	width: 490.599px;
	height: 49.00042724609375px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_126 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 30.939px;
	overflow: visible;
}
#n_49 {
	fill: rgba(140,104,176,1);
}
.n_49 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n_29_f {
	fill: rgba(255,255,255,1);
}
.n_29_f {
	overflow: visible;
	position: absolute;
	width: 57.683px;
	height: 48.527px;
	left: 21.786px;
	top: 26.342px;
	transform: matrix(1,0,0,1,0,0);
}
#n_98 {
	position: absolute;
	width: 943.057px;
	height: 693.883px;
	left: 60.038px;
	top: 1078.448px;
	overflow: visible;
}
#n_18_f {
	fill: rgba(255,255,255,1);
}
.n_18_f {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 693.883px;
	left: 0px;
	top: 0px;
}
#n_96 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 47.706px;
	overflow: visible;
}
#n_19_f {
	fill: rgba(0,0,0,1);
}
.n_19_f {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__ga {
	left: 30.627px;
	top: 14.726px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_97 {
	position: absolute;
	width: 607.514px;
	height: 313.526px;
	left: 172.8px;
	top: 52.719px;
	overflow: visible;
}
#n__gc {
	left: 9.899px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 355px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#n_AR_gd {
	left: 0px;
	top: 139.75px;
	position: absolute;
	overflow: visible;
	width: 608.514px;
	height: 173.7761688232422px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_13_ge {
	position: absolute;
	width: 652.079px;
	height: 305.646px;
	left: 172.8px;
	top: 310.371px;
	overflow: visible;
}
#n_30_gf {
	fill: rgba(140,104,176,1);
}
.n_30_gf {
	overflow: visible;
	position: absolute;
	width: 138.188px;
	height: 80.023px;
	left: 704.522px;
	top: 1571.988px;
	transform: matrix(1,0,0,1,0,0);
}
#n_148 {
	position: absolute;
	width: 943.057px;
	height: 163.133px;
	left: 59.857px;
	top: 7538.716px;
	overflow: visible;
}
#n_40 {
	fill: rgba(255,255,255,1);
}
.n_40 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 163.133px;
	left: 0px;
	top: 0px;
}
#n_146 {
	position: absolute;
	width: 674px;
	height: 101.016px;
	left: 182.699px;
	top: 44.252px;
	overflow: visible;
}
#Text_gj {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 675px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_gk {
	left: 2.844px;
	top: 52.015px;
	position: absolute;
	overflow: visible;
	width: 490.599px;
	height: 49.00042724609375px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_147 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.797px;
	top: 30.939px;
	overflow: visible;
}
#n_52 {
	fill: rgba(0,0,0,1);
}
.n_52 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__gn {
	left: 30.627px;
	top: 14.727px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_53 {
	fill: rgba(255,255,255,1);
}
.n_53 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 311.632px;
	left: 64.739px;
	top: 6466.115px;
}
#n_137 {
	position: absolute;
	width: 746.389px;
	height: 318.539px;
	left: 102.426px;
	top: 6513.82px;
	overflow: visible;
}
#n_136 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_55 {
	fill: rgba(0,0,0,1);
}
.n_55 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__gs {
	left: 30.627px;
	top: 14.727px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_135 {
	position: absolute;
	width: 601.377px;
	height: 313.525px;
	left: 145.012px;
	top: 5.014px;
	overflow: visible;
}
#n__gu {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 393px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Text_gv {
	left: 4.062px;
	top: 139.749px;
	position: absolute;
	overflow: visible;
	width: 598.315px;
	height: 173.7761688232422px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#n_140 {
	position: absolute;
	width: 943.057px;
	height: 263.179px;
	left: 64.739px;
	top: 6814.352px;
	overflow: visible;
}
#n_54 {
	fill: rgba(255,255,255,1);
}
.n_54 {
	position: absolute;
	overflow: visible;
	width: 943.057px;
	height: 263.179px;
	left: 0px;
	top: 0px;
}
#n_139 {
	position: absolute;
	width: 101.254px;
	height: 101.254px;
	left: 37.687px;
	top: 47.706px;
	overflow: visible;
}
#n_56 {
	fill: rgba(0,0,0,1);
}
.n_56 {
	position: absolute;
	overflow: visible;
	width: 101.254px;
	height: 101.254px;
	left: 0px;
	top: 0px;
}
#n__g {
	left: 30.627px;
	top: 14.726px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 116.98355865478516px;
	margin-top: -25.06790542602539px;
	text-align: center;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 66.84774780273438px;
	color: rgba(255,255,255,1);
}
#n_138 {
	position: absolute;
	width: 610px;
	height: 188.75px;
	left: 182.699px;
	top: 52.719px;
	overflow: visible;
}
#n__ha {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 611px;
	white-space: nowrap;
	line-height: 63px;
	margin-top: -13.5px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Web_g {
	left: 4.062px;
	top: 139.75px;
	position: absolute;
	overflow: visible;
	width: 571.726px;
	height: 49.00025939941406px;
	line-height: 45.5px;
	margin-top: -9.75px;
	text-align: left;
	font-family: FOT-TsukuARdGothic Std;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
